@import "tailwindcss";
.first-bg{
    width: 100%;
    height: 90vh;
    background-image:url(../img.png/image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-2{
    width: 100%;
    height: 75vh;
    background-image:url(../img.png/Group\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}